:root{
    --dark-background:#111111;
    --dark-background-accent: #1F1B24;
    --primary: #000000;
    --input-border: #8400ff;
    --form-color: 	#5900ff34;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.form-container{
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-background);
}

.stacked{
    background-color: var(--form-color);
    padding: 3rem;
    position: relative;
    


}

.stacked::before{
    content: "";
  position: absolute;
  inset: 0;
  border-radius: 0px; 
  padding: 2px; 
  background:linear-gradient(45deg,red,blue); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
          pointer-events: none;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 0.72rem;
}

.input{
    font-size: 0.558rem;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    width: 100%;
    padding: 7px 20px;
    box-sizing: border-box;
    margin: 6px 0;
    -webkit-transition: 0.5s;
    transition: 0.6s;
    outline: none;



}

input:focus {
    border: 2px solid #555;
}

#useremail{
    background-image: url(../icons/email-icon.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 11px;
    background-position-x: 7px;
    

}



