:root{
    --dark-background:#111111;
    --dark-background-accent: #1F1B24;
    --primary: #000000;
    --input-border: #8400ff;
    --form-color: rgba(36, 35, 56, 0.97);
    --font-form:  'Roboto Condensed', sans-serif; 
    --button-color: rgb(221, 255, 0);
    
}
body{
    line-height: 2.5;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


h1,
h2,
h3 {
  line-height: 1;
  text-transform: uppercase;
}

.form-container{
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../icons/icons-gray-bg.svg");
}

.stacked{
    background-color: var(--form-color);
    padding: 2rem;
    position: relative;
}

.stacked::before{
    content: "";
  position: absolute;
  inset: 0;
  border-radius: 0;
  padding: 2px; 
  background:linear-gradient(45deg,red,blue); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
          pointer-events: none;
}

h1{
    text-align: center;
    font-size: 1.425rem;
    font-family: var(--font-form);
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
    font-family: var(--font-form);
    
}

.input{
    --icon-size: 20px;
    --position-x: 4px;
    --pd-left:
    font-size: 1.25rem;
    background-color: #fff;
    border: 5px solid var(--input-border);
    border-radius: 6px;
    width: 100%;
    padding: 3px 28px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.6s;
    outline: none;

}

input:focus {
    border: 2px solid #555;
}

#useremail{
    background-image: url(../icons/email-icon.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: var(--icon-size);
    background-position-x: var(--position-x);   
=}

#username{
    background-image: url(../icons/usernicon.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: var(--icon-size);
    background-position-x: var(--position-x);
}

#userpassword{
    background-image: url(../icons/password-icon.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: var(--icon-size);
    background-position-x: 7px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .225rem;
    margin-top: 10px;
    font-size:  1.2rem;
    align-self: center;
    padding: 3px 6px;
    cursor: pointer;
    font-family: inherit;
    border-radius: 8px;
    background-color: var(--button-color);
    text-transform: uppercase;
    box-shadow: 0 0 0;
    top: 5px;
    left: 5px;
    box-shadow: 0 1px 0 0, 2px 1px , 3px 2px 0 0, 1px 2px 0 0, 4px 4px 0 0;
}

.button:hover{
    transition: 0.5s;
    
}

.button[data-icon ="forward-submit"]::after{
    content: "";
    background-image: url(../icons/login.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    
    width: 40px;
    height: 30px;
}


@media(min-width: 600px){
    body{
        line-height: 3.5; 
       }
       .input{
        padding: 5px 40px;
        --icon-size: 30px;
        --position-x: 4px;
       }
      

}