:root{
    --TartOrange: #FE4A49;
    --ViridianGreen: #0A9396;
    --DodgerBlue: #0E94FF ;
    --SapphireBlue: #0764A7;
    --Verdigris: #61C1B6;
    --PrussianBlue: #033051;
    --OrangeWeb: #FCA311;
  }
