
@import url(reset.css);

.parent{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main";
    height: 100vh;
    grid-template-columns: 10px 3fr;
    grid-template-rows: 50px 3fr;

    
}
header{
    grid-area: header;
    background-color: #000;
}

main{
    grid-area: main;
}